<!DOCTYPE html>
<html lang="en">

<head> 
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="style.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
  <!-- Primary Meta Tags -->
<title>
  Emerald International Collage {% block title %}{% endblock %}
</title>
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/logo.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/logo.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/logo.png">

<link type="text/css" href="/static/assets/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">
<!-- inherit CSS only -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.main.css') }}">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='circle.css') }}">
<!--embedding external css and js-->
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>
  {% include 'inc/side.html' %}
    <main class="content">
      {% block content %}{% endblock content %} 

    </main>

  {% include 'inc/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
  <body>
    {% block body %}
    
    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!--DataTable JS-->   
    
    {% endblock body %}
    
    </body>
</html>
