<!DOCTYPE html>
{% include 'inc/header.html' %}
{% extends "layouts/base.html" %}
{% block title %}  {% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
        <div class="col md-12">
        <div class="">
        <!--row container for seach and add buttons-->
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-select" name="state" id="maxRows" onchange="updateRowsPerPage()">
                        <option value="5000">ሁሉንም አሳይ</option>
                        <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                        <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                        <option value="25" {% if rows_per_page == 25 %}selected{% endif %}>25</option>
                        <option value="50" {% if rows_per_page == 50 %}selected{% endif %}>50</option>
                        <option value="100" {% if rows_per_page == 100 %}selected{% endif %}>100</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <h5> <b>Employee Information</b></h5>
                </div>
            
                <div class="col-sm-2">
                    <a href="{{url_for('employee_bp.newEmployee')}}" class="btn btn-success float-end">
                    Register New</a>
                </div>
                <div class="col-sm-2">
                    <a href="{{url_for('employee_bp.importEmployee')}}" class="btn btn-success float-end">
                    <i class="fa fa-file-excel"></i> &nbsp;ከኤክሴል አስገባ</a>
                </div>
            </div>
            <!--Add a flash message that display a successful message while adding new record -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Add a flash message that displays a successful message while adding a new record -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div id="success-alert" class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-light table-class table-id sortable" id="myTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th width="60">Photo</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Gender</th>                            
                                    <th>Age</th>
                                    <th>Qualification</th>
                                    <th>Qualification</th>
                                    <th>Email Address</th> 
                                    <th>Contact Address</th>                              
                                    <th>Department</th>
                                    <th>Position</th>                        
                                    <th>Action</th>
                                </tr>
                            </thead>
                        <tbody>
                    <!-- Show all employee data in the table-->        
                    {% for row, dep, pos, branch in  employees %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <img class ="rounded" src="{{url_for('static', filename='uploads/'+ row.photo)}}" width="50" height="50">
                            </td>                    
                            <td>{{row.fname}}</td>
                            <td>{{row.lname}}</td>
                            <td>{{row.gender}}</td>
                            <td>{{row.age}}</td>
                            <td>{{row.qualification}}</td>
                            <td>{{row.qualification}}</td>
                            <td>{{row.emp_email}}</td>
                            <td>{{row.contact_add}}</td>
                            <td>{{dep.deptName}}</td>
                            <td>{{pos.positionName}}</td> 
                            <!-- action buttons -->
                            <td>            
                            <a href="/editEmployee/{{row.id}}#=?" data-bs-placement="top" data-bs-toggle="tooltip" title="Update" class="btn btn-sm btn-xs" data-bs-title="Update">
                                <i class="fas fa-pencil-alt" style="color:#56884" aria-hidden="true"></i></a>
                            <a href="/deleteEmployee/{{row.id}}" onclick="return confirm('Are you Shure You want to Delete?')" data-bs-placement="top" data-bs-toggle="tooltip" title="Delete" class="btn btn-sm btn-xs" data-bs-title="Delete">
                            <i class="fas fa-trash-alt" style="color:red" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                {% endfor %} <!--end of for loop -->
                        </tbody>
                    </table>            
            </div> <!--end of table responsive-->
                <!-- Pagination links -->
                <div class="pagination mb-3">
                    {% if employee_list.has_prev %}
                        <a href="{{ url_for('employee_bp.employeeDetail', page=employee_list.prev_num) }}" class="pagination-button">&laquo;</a>
                    {% endif %}

                    {% for num in employee_list.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                        {% if num %}
                            {% if employee_list.page == num %}
                                <a href="{{ url_for('employee_bp.employeeDetail', page=num) }}" class="pagination-button current">{{ num }}</a>
                            {% else %}
                                <a href="{{ url_for('employee_bp.employeeDetail', page=num) }}" class="pagination-button">{{ num }}</a>
                            {% endif %}
                        {% else %}
                            <span class="pagination-dots">...</span>
                        {% endif %}
                    {% endfor %}

                    {% if employee_list.has_next %}
                        <a href="{{ url_for('employee_bp.employeeDetail', page=employee_list.next_num) }}" class="pagination-button next">&raquo;</a>
                    {% endif %}
                </div> <!-- end of pagination -->
        </div> <!--end of table container-fluid-->
    </div> <!--end of column -->
</div><!--end of row-->
</div><!--end of container-fluid-->

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock body %}
